@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
     background: linear-gradient(90deg,#f02828,#fcd0a1);
  
  }
  
  .slider-thumb::before {
    position: absolute;
    content: "";
    left: 20vw;
    top: 12vh;
    width: 60vw;
    height: 76vh;
    background: #000000;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }

button{
    margin-top: 3vh;
    margin-left: 2vw;
}

h2{
    margin-top: 40vh;
    margin-left: 25vw;
    color: white;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vh;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-instagram {
    background: #d017e0;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-github {
    background: #000000;
    color: white;
  }